<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>Nombre de Tu Aplicación</title>
</head>
<body>
    <div>
        <h1>Contenido Principal de la Aplicación</h1>
        <%- include(view) %>
    </div>
    <div>
        <footer>
            <nav>
                <a href="/">Home</a>
                <a href="/divisa">Divisa</a>
                <a href="/ingresos">Ingresos</a>
            </nav>
        </footer>
    </div>
</body>
</html>
